@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --primary-color: #2ecc71;
  --secondary-color: #e74c3c;
  --btn-color: #3498db;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.backdrop.display {
  display: block;
}

.heading {
  text-align: center;
}

.heading button {
  width: 30%;
  margin: 50px auto;
}

.form-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 60%;
  margin: 100px auto;
  position: relative;
  display: none;
}

.form-container.visible {
  display: block;
  z-index: 100;
}

.close {
  position: absolute;
  color: #ddd7ce;
  top: 0;
  right: 10px;
  font-size: 4rem;
  background: transparent;
  border: 0;
  outline: 0;
}

.close:hover {
  cursor: pointer;
}

.form {
  padding: 30px 40px;
}

h2 {
  text-align: center;
  margin: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(78, 218, 78);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(78, 218, 78);
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.read-toggle {
  display: flex;
}

.read-book {
  margin-right: 30px;
}

.form-btn {
  cursor: pointer;
  background-color: var(--btn-color);
  border: 2px solid var(--btn-color);
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
}

.btn-add-book {
  width: 40%;
  margin: auto;
}

.card {
  width: fit-content;
  text-align: center;
  display: flex;
  padding: 20px;
  margin: auto;
}

.card.not-visible {
  visibility: hidden;
}

.card.visible {
  visibility: visible;
}

.bkcontainer {
  background-color: #fff;
  margin-left: 16px;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.removeBtn,
.toggleBtn {
  cursor: pointer;
  border-radius: 4px;
  padding: 8px;
  margin-top: 16px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.toggleBtn {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.toggleBtn.status-color {
  color: var(--secondary-color);
  font-weight: bolder;
}

.removeBtn {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
